/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: {{theme.font.font}};
  background: #E8E8E8;
  color: #1F232B;
}

.header, .footer {
  background-color: {{ theme.accent_color.color }};
  padding: 10% 0;
  color: #ffffff;
}

  .header {
    background-image: url({{ get_asset_url('/hs-certificate-theme/images/pexels-quang-nguyen-vinh-2132116.jpg') }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .header::after {
    content: "";
    position: absolute;
    background-color: {{ theme.accent_color.color }};
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header h1 {
  margin: 10% 0;
  margin-bottom: 4%;
  font-weight: 300;
  font-size: 2.2em;
  display: inline-block;
}

.header .widget-type-text {
  max-width: 75%;
  font-size: 0.9em;
  line-height: 1.7;
}

.must-head{
  margin-bottom: 40px;
}

.quote{
  font-size:3rem;
}

.bold{
  font-weight: 700;
/*   display: block; */
  font-size: 5em;
  line-height: 1;
}

.menu{
  display: flex;
  justify-content: flex-end;
/*   margin-bottom: 5%; */
}

.footer .menu{
  justify-content: flex-start;
}

.menu a {
  margin: 0 20px;
  cursor: pointer;
  text-decoration: underline;
}

.menu a:nth-child(1){
  margin-left: 0;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 40px;
}

.align-right{
  float: right;
}

hr {
  margin: 0;
  margin-bottom: 2%;
  width: 50%;
}