.grid-wrapper {
/*   padding: 5%; */
  display: flex;
  flex-wrap: wrap;
}

.grid-wrapper .member {
  margin: 0 30px 30px 30px;
  width: calc(33.33% - 60px);
}

.grid-wrapper .img{
  height: 300px;
  background-position: center;
  background-size: cover;
}

.name{
  font-weight: 600;
  font-size: 1.4em;
}

.position{
  font-weight: 400;
  font-size: 0.9em;
}

@media only screen and (min-width: 901px) {
  .member:nth-child(3n) {
    margin-right: 0;
  }

  .member:nth-child(3n-2) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .grid-wrapper .member {
    width: calc(50% - 60px);
  }
  
  .member:nth-child(even) {
    margin-left: 0;
  }
  
  .member:nth-child(odd) {
    margin-right: 0;
  }
}